%colord-container {
  background-color: $background-secondary;
  padding: 30px 0;
}

%centered {
  text-align: center;
}

%inlnb {
  display: inline-block;
}

%transition {
  transition: 1s;
}

%position {
  top: 0px;
  transition: 1s;
}

%inln {
  display: inline;
}


%inlnb {
  display: inline-block;
}
