/* Cards in the Portfolio Section */

.portfolio-cards {
  margin-bottom: em(40);

  img {
    @include box-shadow-opacity(0, 0, 8, 1, $shadow-color-dark, 0.8);

    &:hover {
      @include box-shadow-opacity(0, 0, 8, 1, $shadow-color-black, 0.8);
    }
  }

  @include brkpnt(tablet) {
    &:nth-child(2n+0) {
      padding-right: 1%;
      clear: left;
    }

    &:nth-child(2n+1) {
      padding-left: 1%;
    }
  }

  @include brkpnt(desktop) {
    &:nth-child(1n+0) {
      padding-left: 1%;
      padding-right: 1%;
    }

    &:nth-child(2n+0) {
      clear: none;
    }

    &:nth-child(3n+2) {
      clear:left;
    }
  }
}
